In [1]:
# Proceso de ETL (Extraccion, Transformacion y Carga de los datos)
# Importamos las librerías necesarias para desarrollar el proceso.
import numpy as np
import pandas as pd
import ast

In [11]:
# Cargamos los datos en formato dataframe.
df = pd.read_csv("Datasets\\movies_dataset.csv", sep =",", low_memory=False)
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [12]:
# Visualizamos las caracteristicas de nuestro dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [13]:
# Visualizamos las columnas que contienen valores nulos y su cantidad.
df.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Transformaciones solicitadas

1- Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,vote_count,poster_path y homepage.

In [14]:
#Eliminamos las columnas solicitadas.
df.drop(columns=["video","imdb_id","adult","original_title","vote_count","poster_path","homepage"], inplace=True )

In [15]:
df.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7
1,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5

2- Los valores nulos de los campos revenue y budget deben ser rellenados por el número 0.

In [16]:
#Reemplazamos los valores nulos que visualizamos anteriormente, en las columnas solicitadas.
df["revenue"].fillna(value=0, inplace=True)
df["budget"].fillna(value=0, inplace=True)

In [17]:
#Corroboramos
df.isnull().sum()

belongs_to_collection    40972
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
production_companies         3
production_countries         3
release_date                87
revenue                      0
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
dtype: int64

3- Desanidar los campos que contienen datos anidados, o bien buscar la manera de acceder a ellos sin desanidarlos. Con el fin de unirlos a un nuevo dataset para ser consumidos en consultas desde la API.

In [67]:
#Definimos funciones que van a extraer el dato name anidado

In [18]:
def buscar_name(obj):
    """
    Esta función devuelve una lista con los valores de la clave "name" de un objeto si es una cadena de texto
    y contiene caracteres "{". Si el objeto no cumple estas condiciones, retorna una lista vacía.

    Argumento:
        obj (str): El objeto a evaluar.

    Returns:
        list: Una lista con los valores de la clave "name" del objeto, o una lista vacía.

    Ejemplo:
        >>> buscar_name('{"name": "Juan"}')
        ['Juan']
    """
    if isinstance(obj, str) and "{" in obj:
        L = []
        for i in ast.literal_eval(obj):
            L.append(i["name"])
        return L
    else:
        return []

In [19]:
def buscar_name2(obj):
    """
    Esta función devuelve el valor de la clave "name" de un objeto si es una cadena de texto y contiene el carácter "{".
    Si el objeto no cumple estas condiciones o la clave "name" no está presente, retorna None.

    Argumento:
        obj (str): El objeto a evaluar.

    Returns:
        str or None: El valor de la clave "name" del objeto, o None si no cumple las condiciones o la clave "name" no está presente.

    Ejamplo:
        >>> buscar_name2('{"name": "Pedro"}')
        'Pedro'
    """
    if isinstance(obj, str) and "{" in obj:
        dic = ast.literal_eval(obj)
        return dic["name"]

In [20]:
# Aplicamos las funciones definidas a las columnas anidadas
df["genres"] = df["genres"].apply(buscar_name)
df["belongs_to_collection"] = df["belongs_to_collection"].apply(buscar_name2)
df["production_companies"]  = df["production_companies"].apply(buscar_name)
df["production_countries"]  = df["production_countries"].apply(buscar_name)
df["spoken_languages"] = df["spoken_languages"].apply(buscar_name)

In [22]:
# Corroboramos el funcionamiento de las funciones definidas anteriormente. 
df.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average
0,Toy Story Collection,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,[Pixar Animation Studios],[United States of America],1995-10-30,373554033.0,81.0,[English],Released,NaN,Toy Story,7.7
1,None,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995-12-15,262797249.0,104.0,"[English, Français]",Released,Roll the dice and unleash the excitement!,Jumanji,6.9
2,Grumpy Old Men Collection,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[Warner Bros., Lancaster Gate]",[United States of America],1995-12-22,0.0,101.0,[English],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5

In [23]:
# Convertimos los valores que obtuvimos de formato lista a formato no lista.
df["genres"] = df["genres"].apply(lambda x: ", ".join(map(str, x)) if x is not None else None)
df["production_companies"] = df["production_companies"].apply(lambda x: ", ".join(map(str, x)) if x is not None else None)
df["production_countries"] = df["production_countries"].apply(lambda x: ", ".join(map(str, x)) if x is not None else None)
df["spoken_languages"] = df["spoken_languages"].apply(lambda x: ", ".join(map(str, x)) if x is not None else None)

In [25]:
# Corroboramos si obtuvimos los valores sin formato lista.
df.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average
0,Toy Story Collection,30000000,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7
1,None,65000000,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9
2,Grumpy Old Men Collection,0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5

4- Crear la columna con el retorno de inversión, llamada return con los campos revenue y budget, dividiendo estas dos últimas revenue / budget, cuando no hay datos disponibles para calcularlo, deberá tomar el valor 0.

In [74]:
# Primero debemos transformar la columna budget a formato numerico.
# df['budget'] = pd.to_numeric(df['budget']) de esta forma lanza error porque hay registros con formato jpj.

In [26]:
# Aplicamos un filtro para identificar los registros en formato jpg.
filtro = df["budget"].str.contains(".jpg")

In [27]:
# Definimos nuevamente nuestro dataframe aplicando el filtro para que ya no contenga los registros en formato jpg.
df = df[~filtro]

In [28]:
# Convertimos a formato float nuestra columna budget.
df["budget"] = df["budget"].astype("float64")

In [29]:
# Corroboramos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45463 non-null  float64
 2   genres                 45463 non-null  object
 3   id                     45463 non-null  object
 4   original_language      45452 non-null  object
 5   overview               44509 non-null  object
 6   popularity             45460 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45463 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45463 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
dtypes: float64(4), object(13)
memory usage: 6.2+ MB

In [30]:
# Creamos la nueva columna return solicitada.
# Definimos una función que calcula el retorno de inversión, teniendo en cuenta si existen nulos en numerador o denominador, y si el denominador es cero.

def calcular_retorno(row):
    """
    Esta función calcula el retorno dividiendo la columna 'revenue' entre la columna 'budget' de una fila.

    Argumento:
        row (Series): Una fila del DataFrame con las columnas 'revenue' y 'budget'.

    Returns:
        float: El valor del retorno calculado. Si alguna de las columnas es nula o el presupuesto es cero, retorna 0.

    Ejemplo:
        >>> calcular_retorno(pd.Series({'revenue': 1000000, 'budget': 500000}))
        2.0
    """
    revenue = row["revenue"]
    budget = row["budget"]
    if pd.isnull(revenue) or pd.isnull(budget) or budget == 0:
        return 0
    return revenue / budget

df["retorno"] = df.apply(calcular_retorno, axis=1)

In [31]:
# Corroboramos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45463 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45463 non-null  float64
 2   genres                 45463 non-null  object
 3   id                     45463 non-null  object
 4   original_language      45452 non-null  object
 5   overview               44509 non-null  object
 6   popularity             45460 non-null  object
 7   production_companies   45463 non-null  object
 8   production_countries   45463 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45463 non-null  float64
 11  runtime                45203 non-null  float64
 12  spoken_languages       45463 non-null  object
 13  status                 45379 non-null  object
 14  tagline                20412 non-null  object
 15  title                  45460 non-null  object
 16  vote_average           45460 non-null  float64
 17  retorno                45463 non-null  float64
dtypes: float64(5), object(13)
memory usage: 6.6+ MB

5- Los valores nulos del campo release date deben eliminarse.

In [32]:
# Convertimos la columna release_date a formato datetime.
df["release_date"] = pd.to_datetime(df["release_date"])

In [33]:
# Eliminamos los valores nulos de la columna release_date.
df = df.dropna(subset=["release_date"])

In [34]:
# Corroboramos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  retorno                45376 non-null  float64
dtypes: datetime64[ns](1), float64(5), object(12)
memory usage: 6.6+ MB

6- Las fechas deberán tener el formato AAAA-mm-dd, además, crear la columna release_year donde se extraerá el año de la fecha de estreno.

In [35]:
# Creamos la columna release_year.
df["release_year"] = df["release_date"].dt.year

In [36]:
# Corroboramos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45376 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4488 non-null   object
 1   budget                 45376 non-null  float64
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  object
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  object
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  datetime64[ns]
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  retorno                45376 non-null  float64
 18  release_year           45376 non-null  int64
dtypes: datetime64[ns](1), float64(5), int64(1), object(12)
memory usage: 6.9+ MB

In [37]:
df.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,retorno,release_year
0,Toy Story Collection,30000000.0,"Animation, Comedy, Family",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,12.451801,1995
1,None,65000000.0,"Adventure, Fantasy, Family",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,104.0,"English, Français",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,4.043035,1995
2,Grumpy Old Men Collection,0.0,"Romance, Comedy",15602,en,A family wedding reignites the ancient feud be...,11.7129,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,0.000000,1995

In [38]:
# Creamos un nuevo dataframe que contenga solo las columnas que utilizarán las funciones para los endpoints solicitados en las consultas de la API.
df = df[["belongs_to_collection", "budget", "production_companies", "production_countries", "release_date", "revenue", "title", "retorno"]]

In [39]:
df.head()

,belongs_to_collection,budget,production_companies,production_countries,release_date,revenue,title,retorno
0,Toy Story Collection,30000000.0,Pixar Animation Studios,United States of America,1995-10-30,373554033.0,Toy Story,12.451801
1,None,65000000.0,"TriStar Pictures, Teitler Film, Interscope Com...",United States of America,1995-12-15,262797249.0,Jumanji,4.043035
2,Grumpy Old Men Collection,0.0,"Warner Bros., Lancaster Gate",United States of America,1995-12-22,0.0,Grumpier Old Men,0.000000
3,None,16000000.0,Twentieth Century Fox Film Corporation,United States of America,1995-12-22,81452156.0,Waiting to Exhale,5.090760
4,Father of the Bride Collection,0.0,"Sandollar Productions, Touchstone Pictures",United States of America,1995-02-10,76578911.0,Father of the Bride Part II,0.000000

In [40]:
# Corroboramos las dimensiones de nuestro dataframe resultante.
df.shape

(45376, 8)

In [41]:
# Exportamos el dataframe preprocesado para utilizar como base de datos para ser consumido en las consultas de nuestra API.
df.to_csv("Datasets\\dataset_ETL.csv", index=False)

7- Crear seis funciones para los endpoints que se consumirán en la API.

In [45]:
df = pd.read_csv("Datasets\\dataset_ETL.csv")
df["release_date"] = pd.to_datetime(df["release_date"], format="%Y-%m-%d")
df["month_release"] = df["release_date"].dt.strftime("%B")
df["day_of_week_release"] = df["release_date"].dt.strftime("%A")


def peliculas_mes(mes: str):
    '''
    Esta función reciba como argumento el mes en español y la función retorna la cantidad de películas que se estrenaron ese mes
    (nombre del mes en español, en str, ejemplo "marzo") históricamente.

    Argumento:
        mes (str): El nombre del mes en español.

    Returns:
        dict: Un diccionario con el nombre del mes y la cantidad de películas estrenadas en ese mes.

    Ejemplo:
        >>> peliculas_mes("marzo")
        {"mes": "marzo", "cantidad": 10}
    '''
    meses = {
        "enero": "January",
        "febrero": "February",
        "marzo": "March",
        "abril": "April",
        "mayo": "May",
        "junio": "June",
        "julio": "July",
        "agosto": "August",
        "septiembre": "September",
        "octubre": "October",
        "noviembre": "November",
        "diciembre": "December"
    }
    mes_ingles = meses.get(mes.lower())
    df_mes = df[df["month_release"] == mes_ingles]
    cantidad = len(df_mes)
    return {"mes": mes, "cantidad": cantidad}



def peliculas_dia(dia: str):
    '''
    Esta función recibe como argumento el día de la semana y la función retorna la cantidad de películas que se estrenaron
    ese día (nombre del día en español, en str, ejemplo "lunes") históricamente.

    Argumento:
        dia (str): El nombre del día de la semana en español.

    Returns:
        dict: Un diccionario con el nombre del día y la cantidad de películas estrenadas en ese día.

    Ejemplo:
        >>> peliculas_dia("lunes")
        {"dia": "lunes", "cantidad": 5}
    '''
    dias_semana = {
        "lunes": "Monday",
        "martes": "Tuesday",
        "miercoles": "Wednesday",
        "jueves": "Thursday",
        "viernes": "Friday",
        "sabado": "Saturday",
        "domingo": "Sunday"
    }
    dia_ing = dias_semana[dia.lower()]
    
    df_dia = df[df["day_of_week_release"] == dia_ing]
    cantidad = len(df_dia)
    return {"dia": dia, "cantidad": cantidad}



def franquicia(franquicia: str):
    '''
    Esta función recibe como argumento la franquicia y retorna la cantidad de películas, la ganancia total
    y la ganancia promedio para dicha franquicia.

    Argumento:
        franquicia (str): El nombre de la franquicia.

    Returns:
        dict: Un diccionario con el nombre de la franquicia, la cantidad de películas, la ganancia total y la
        ganancia promedio.

    Ejemplo:
        >>> franquicia("Marvel Cinematic Universe")
        {"franquicia": "Marvel Cinematic Universe", "cantidad": 10, "ganancia_total": 2000000000, "ganancia_promedio": 200000000}
    '''
    df["belongs_to_collection"] = df["belongs_to_collection"].fillna("")
    df_franquicia = df[df["belongs_to_collection"].str.contains(franquicia, na=False)]
    cantidad = df_franquicia.shape[0]
    ganancia_total = df_franquicia["revenue"].sum()
    ganancia_promedio = df_franquicia["revenue"].mean()
    return {"franquicia": franquicia, "cantidad": cantidad, "ganancia_total": round(ganancia_total, 2), "ganancia_promedio": round(ganancia_promedio, 2)}



def peliculas_pais(pais: str):
    '''
    Esta función recibe como argumento el nombre del país y retorna la cantidad de películas producidas en el mismo.

    Argumento:
        pais (str): El nombre del país.

    Returns:
        dict: Un diccionario con el nombre del país y la cantidad de películas producidas en él.

    Ejemplo:
        >>> peliculas_pais("Estados Unidos")
        {"pais": "Estados Unidos", "cantidad": 1000}
    '''
    cantidad = len(df[df["production_countries"] == pais])
    return {"pais": pais, "cantidad": cantidad}



def productoras(productora: str):
    '''
    Esta función recibe como argumento el nombre de la productora y retorna la ganancia total y la cantidad de películas que produjeron.

    Argumento:
        productora (str): El nombre de la productora.

    Returns:
        dict: Un diccionario con el nombre de la productora, la ganancia total y la cantidad de películas producidas.

    Ejemplo:
        >>> productoras("Warner Bros")
        {"productora": "Warner Bros", "ganancia_total": 1000000000, "cantidad": 10}
    '''
    df_productora = df[df["production_companies"] == productora]
    ganancia_total = df_productora["revenue"].sum()
    cantidad = len(df_productora)
    return {"productora": productora, "ganancia_total": ganancia_total, "cantidad": cantidad}



def retorno(pelicula: str):
    '''
    Esta función recibe como argumento el nombre de la película y retorna la inversión, la ganancia, el retorno y el año en el que se lanzó.

    Argumento:
        pelicula (str): El título de la película.

    Returns:
        dict: Un diccionario con el nombre de la película, la inversión, la ganancia, el retorno y el año de lanzamiento.

    Ejemplo:
        >>> retorno("Avengers: Endgame")
        {"pelicula": "Avengers: Endgame", "inversion": 300000000, "ganancia": 2797800564, "retorno": 9.33, "anio": 2019}
    '''
    pelicula_df = df.loc[df["title"] == pelicula]
    inversion = pelicula_df["budget"].values[0]
    ganancia = pelicula_df["revenue"].values[0]
    retorno = pelicula_df["retorno"].values[0]
    anio = int(pelicula_df["release_date"].dt.year.values[0])
    return {"pelicula": pelicula, "inversion": inversion, "ganacia": ganancia, "retorno": retorno, "anio": anio}

In [46]:
a = peliculas_mes("enero")
print(a)

{'mes': 'enero', 'cantidad': 5912}

In [47]:
b = peliculas_dia("jueves")
print(b)

{'dia': 'jueves', 'cantidad': 7525}

In [48]:
c = franquicia("Toy Story Collection")
print(c)

{'franquicia': 'Toy Story Collection', 'cantidad': 3, 'ganancia_total': 1937890605.0, 'ganancia_promedio': 645963535.0}

In [49]:
d = peliculas_pais("United States of America")
print(d)

{'pais': 'United States of America', 'cantidad': 17846}

In [50]:
e = productoras("Pixar Animation Studios")
print(e)

{'productora': 'Pixar Animation Studios', 'ganancia_total': 2546355520.0, 'cantidad': 28}

In [51]:
f = retorno("Waiting to Exhale")
print(f)

{'pelicula': 'Waiting to Exhale', 'inversion': 16000000.0, 'ganacia': 81452156.0, 'retorno': 5.09075975, 'anio': 1995}